@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700");
/*GENERAL*/
body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}
section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #3f51b5, #00bcd4);
  animation: animate 20s linear infinite;
}
section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 100vh solid transparent;
  border-left: 120vh solid #fff;
  opacity: 0.1;
}
section:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 100vh solid transparent;
  border-right: 120vh solid #fff;
  opacity: 0.1;
}
@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
/*WAVE*/
section .wave {
  position: absolute;
  width: 100%;
  height: 143px;
  bottom: 0;
  left: 0;
  background: url(../img/wave.png);
  animation: animateWave 10s linear infinite;
}
section .wave:before {
  content: "";
  width: 100%;
  height: 143px;
  background: url(../img/wave.png);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  animation: animateWave-reverse 10s linear infinite;
}
@keyframes animateWave {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1360px;
  }
}
@keyframes animateWave-reverse {
  0% {
    background-position: 1360px;
  }
  100% {
    background-position: 0;
  }
}
/*CARD*/
.card {
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 50%;
}
.card .front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 0.5s;
  border-radius: 50%;
  animation: glowing 3s infinite;
}
.card:hover .front {
  transform: rotateX(-180deg);
}
.card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 0.5s;
  border-radius: 50%;
}
.card .back:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.card:hover .back {
  transform: rotateX(0deg);
}
.card .back .details {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
.card .back .details h2 {
  padding: 0;
  margin: 0;
  font-size: 24px;
  color: #fff;
}
.card .back .details h2 span {
  color: #a7a7a7;
  font-size: 16px;
}
.social-icons {
  padding: 10px 0;
}
.social-icons a {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  background: #262626;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  transition: 0.5s;
}
.social-icons a .fab {
  line-height: 36px;
}
.social-icons a:hover {
  background: #e91e63;
}
.card img {
  width: 100%;
  border-radius: 50%;
}
@keyframes glowing {
  0% {
    box-shadow: 0 0 -10px #fff;
  }
  40% {
    box-shadow: 0 0 40px #fff;
  }
  60% {
    box-shadow: 0 0 40px #fff;
  }
  100% {
    box-shadow: 0 0 -10px #fff;
  }
}
